<template>
  <div class="home">
    <book-list-container
      :bookList="bookList">
    </book-list-container>
    <add-new-book 
      :bookList="bookList">
    </add-new-book>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'

  import BookListContainer from '@/components/BookListContainer.vue'
  import AddNewBook from '@/components/AddNewBook.vue'

  export default {
    name: 'home',
    components: {
      'book-list-container': BookListContainer,
      'add-new-book': AddNewBook
    },
    data () {
      return {
        bookList: []
      }
    },
    created () {
      this.getBookList()
    },
    mounted () {
    },
    methods: {
      getBookList () {
        let path = 'https://api.myjson.com/bins/16shby' // Uploaded to 'http://myjson.com/'
        this.axios.get(path).then((response) => {
          // console.log('Book list: ', response.data)
          this.bookList = response.data['book-list']
        })
      },
      pushNewBook (data) {
        // console.log('new book data: ', data)
        this.bookList.push(data)
      }
    },
    computed: {
      ...mapGetters([
        'newBook'
      ])
    },
    watch: {
      newBook () {
        this.bookList.push(this.newBook)
      }
    }
  }
</script>
