@import "./colors"; // Colors

$break-small: 768px;
$break-large: 1200px;

:root{
  // font-size: 10px;
}

html{
  background-color: white;
  margin: 0;
  padding: 0;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app{
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#header{
  background-color: $purple-300;
  // padding: 40px 20px;
  border-bottom: 1px solid $grey-800;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: $break-small) {
    height: 80px;
  }
  @media screen and (min-width: $break-large) {
    height: 100px;
  }

  h1{
    font-size: 1.2rem;
    margin: 0;

    @media screen and (min-width: $break-small) {
      font-size: 2.0rem;
    }
    @media screen and (min-width: $break-large) {
      font-size: 2.4rem;
    }
  }
}

.home{
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  height: calc(100% - 60px);
  overflow: auto;
  padding: 30px 0;
  background-color: $blue-grey-50;

  @media screen and (min-width: $break-small) {
    top: 80px;
    height: calc(100% - 80px);
  }
  @media screen and (min-width: $break-large) {
    top: 100px;
    height: calc(100% - 100px);
  }
}

.book-list-container{
  display: flex;
  flex-wrap: wrap; 
  // justify-content: center;
  width: 80vw;
  margin: 0 auto ;

  .book{
    border: 1px solid $grey-500;
    // padding: 10px;
    margin: 20px 2vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    position: relative;
    min-height: 150px; 

    @media screen and (min-width: $break-small) {
      width: 22vw;
    }
    @media screen and (min-width: $break-large) {
      width: 16vw;
    }

    h2.title{
      padding: 10px;
      font-size: 0.8em;
      font-weight: 500;
      text-align: left;
      border-bottom:  1px solid $grey-200;
      background-color: $teal-200;
      margin: 0;

      @media screen and (min-width: $break-small) {
        font-size: 0.9em;
      }
      @media screen and (min-width: $break-large) {
        font-size: 1.0em;
      }
    }

    .book-meta-details{
      display: flex;
      justify-content: space-between;
      padding: 10px;

      h3{
        font-size: 0.9em;
      }
  
      p{
        font-size: 0.7em;
        color: $grey-800;
      }
    }

    .controllers{
      display: flex;
      border-top: 1px solid $grey-200;
      background-color: $grey-100;
      padding: 2px 0;
      justify-content: flex-end;
      margin: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      button{
        border: 0;
        background-color: transparent;
        font-size: 0.7em;
        padding-right: 10px;
        margin-right: 5px;
        transition: 0.4s color;
        cursor: pointer;
        border-right: 1px solid $grey-300;

        &:last-child{
          border-right: 0px;
        }

        &.edit{
          color: $blue-500;
          
          &:hover{
            color: $blue-800;
          }
        }

        &.delete{
          color: $red-500;

          &:hover{
            color: $red-800;
          }
        }
      }

    }

  }
}

.edit-book-modal{

  .modal-header{
    padding: 6px 10px;
    h5{
      font-size: 1em;
    }
  }

  .edit-form{
    .form-group {
      margin-bottom: 10px;
      display: flex;

      .col-form-label {
        line-height: 2;
        margin-right: 2%;
      }
    }
  }

  .error-msg{
    font-size: 0.8em;
    color: $red-500;
  }
}
