<template>
  <div class="add-new-book">
    <b-button variant="primary" size="sm" @click="displayAddNewBookModal()">Add new book</b-button>

    <!-- Add new book modal -->
    <b-modal v-model="displayNewBookModal" id="addNewBookModal" ref="addNewBookModal" title="Add New book" class="edit-book-modal" hide-footer hide-header-close>
      <book-form
        v-if="displayNewBookModal"
        :bookList="bookList">
      </book-form>
    </b-modal>

  </div>
</template>

<script>
  import BookForm from './BookForm.vue'

  export default {
    name: 'AddNewBook',
    props: {
      bookList: {
        type: Array,
        required: true
      }
    },
    components: {
      'book-form': BookForm
    },
    data () {
      return {
        displayNewBookModal: false
      }
    },
    created () {

    },
    methods: {
      displayAddNewBookModal () {
        this.displayNewBookModal = true
      }
    }
  }
</script>
  

