<template>
  <div class="book-list-container">
    <book
      v-for="book in bookList"
      :key="book.id"
      :bookDetails="book"
      :bookList="bookList">
    </book>
  </div>
</template>

<script>
  import Book from './Book.vue'


  export default {
    name: 'BookListContainer',
    props: {
      bookList: {
        type: Array,
        required: true
      }
    },
    components: {
      'book': Book
    }
  }
</script>
  

