<template>
  <!-- Edit form -->
  <b-form @submit="onSubmit" @reset="onReset" class="edit-form">
    <!-- Book title -->
    <b-form-group label="Book title:"
                  label-for="bookTitle">
      <b-form-input id="bookTitle"
                    type="text"
                    placeholder="Book title"
                    v-model="bookCopy['book-title']"
                    size="sm">
      </b-form-input>
      <p v-if="errorMsg.title" class="error-msg">{{strErrorMessage}}</p>
      <p v-if="errorMsg.bookTitleExists" class="error-msg">{{bookTitleExistsErrorMessage}}</p>
      </b-form-group>

    <!-- Auther name -->
    <b-form-group label="Auther name:"
                  label-for="autherName">
      <b-form-input id="autherName"
                    type="text"
                    placeholder="Auther name"
                    v-model="bookCopy['auther-name']"
                    size="sm">
      </b-form-input>
      <p v-if="errorMsg.auther" class="error-msg">{{strErrorMessage}}</p>
      </b-form-group>

    <!-- Published date -->
    <b-form-group label="Published date:"
                  label-for="publishedDate">
      <b-form-input id="publishedDate"
                    type="date"
                    v-model="bookCopy.dateFormatted"
                    size="sm">
      </b-form-input>
      <p v-if="errorMsg.date" class="error-msg">{{dateErrorMessage}}</p>
      </b-form-group>

    <!-- Form buttons -->
    <b-button type="submit" variant="primary" size="sm">Save</b-button>
    <b-button type="reset" variant="danger" size="sm">Cancel</b-button>
  </b-form>
</template>


<script>
  import { mapMutations } from 'vuex'

  // Moment.js
  var moment = require('moment')
  moment().format()

  export default {
    name: 'BookForm',
    props: {
      bookDetails: {
        type: Object,
        required: false
      },
      bookList: {
        type: Array,
        required: true
      }
    },
    components: {
    },
    data () {
      return {
        isBookDeleted: false,
        bookCopy: {},
        displayEditModal: false,
        displayDeleteModal: false,
        errorMsg: {
          title: false,
          auther: false,
          date: false,
          bookTitleExists: false
        },
        strErrorMessage: 'Invalid input. Text must not be empty.',
        bookTitleExistsErrorMessage: 'This book title is already exists.',
        dateErrorMessage: 'Invalid date.'
      }
    },
    created () {
      this.initForm()
    },
    methods: {
      ...mapMutations([
        'SET_newBook'
      ]),
      initForm () {
        if (this.bookDetails) {
          this.setDeepCopyOfBook()
        } else {
          this.bookCopy = {
            'book-title': '',
            'auther-name': '',
            'dateFormatted': '',
            'published-date': ''
          }
        }
      },
      setDeepCopyOfBook () {
        // set deep copy of book
        this.bookCopy = this.deepCopy(this.bookDetails)
        // console.log('bookCopy: ', this.bookCopy)
      },
      deepCopy (obj) {
        return JSON.parse(JSON.stringify(obj))
      },
      convertStrToEpoch (str) {
        return moment(str, 'YYYY-MM-DD').toDate()
      },
      editBook (bookId) {
        // console.log('bookId: ', bookId)
        this.setDeepCopyOfBook()
        this.displayEditModal = true
      },
      // Modal
      hideModal (modal) {
        this.$root.$emit('bv::hide::modal', modal)
        // this.$refs.editBookModal.hide()
      },
      resetBookDetails () {
        let key = ''
        for (key in this.bookCopy) {
          this.bookCopy[key] = this.bookDetails[key]
        }
      },
      // Form actions
      onSubmit (evt) {
        evt.preventDefault()
        // Check if input is valid  
        if (this.isInputsValid()) {
          if (this.bookDetails) { // If the book is being edited
            let key = ''
            for (key in this.bookCopy) {
              this.bookDetails[key] = this.bookCopy[key]
            }
            this.hideModal('editBookModal')
          } else { // It's a new book
            this.bookCopy['published-date'] = moment(this.bookCopy.dateFormatted).unix()
            this.SET_newBook(this.deepCopy(this.bookCopy))
            this.hideModal('addNewBookModal')
          }
        }
      },
      onReset (evt) {
        evt.preventDefault()
        if (this.bookDetails) { // If the book is being edited
          this.resetBookDetails()
          this.hideModal('editBookModal')
        } else {
          this.bookCopy = {}
          this.hideModal('addNewBookModal')
        }
      },
      isInputsValid () {
        let book = this.bookCopy
        let ret = true
        // Book title string
        if (this.isStringEmpty(book['book-title'])) {
          this.errorMsg.title = true
          ret = false 
        } else {
          this.errorMsg.title = false
        }
        // Auther name string
        if (this.isStringEmpty(book['auther-name'])) {
          this.errorMsg.auther = true
          ret = false 
        } else {
          this.errorMsg.auther = false
        }
        // Published date
        if (!this.isValidDate(book.dateFormatted)) {
          this.errorMsg.date = true
          ret = false 
        } else {
          this.errorMsg.date = false
        }
        // Is book title exists
        if (this.isBookTitleExists() >= 0) {
          this.errorMsg.bookTitleExists = true
          ret = false 
        } else {
          this.errorMsg.bookTitleExists = false
        }
        return ret
      },
      isStringEmpty (str) {
        return str === ''
      },
      isValidDate (date) {
        return moment(date).isBefore(moment())
      },
      isBookTitleExists () {
        return this.bookList.findIndex((book) => {
          return book['book-title'].toLowerCase() === this.bookCopy['book-title'].toLowerCase()
        })
      }
    }
  }
</script>