<template>
  <div class="book" v-if="!isBookDeleted">
    <!-- Book title -->
    <h2 class="title">{{bookDetails['book-title'] | capitalizeFirstLetter | removeNonEnglishLetters}}</h2>

    <!-- Book meta details -->
    <div class="book-meta-details">
      <h3>{{bookDetails['auther-name']}}</h3>
      <p>{{bookDetails.dateFormatted}}</p>
    </div>

    <!-- controllers -->
    <div class="controllers">
      <button @click="displayFormBookModal()" class="edit"><i class="fas fa-pencil-alt"></i></button>
      <button @click="displayDeleteBookModal()" class="delete"><i class="fas fa-trash-alt"></i></button>
    </div>

    <!-- Edit modal -->
    <b-modal v-model="displayEditModal" id="editBookModal" ref="editBookModal" title="Edit book" class="edit-book-modal" hide-footer hide-header-close>
      <book-form
        v-if="displayEditModal"
        :bookDetails="bookDetails"
        :bookList="bookList">
      </book-form>
    </b-modal>

    <!-- Delete modal -->
    <b-modal v-model="displayDeleteModal" id="deleteBookModal" ref="deleteBookModal" title="Delete book" class="edit-book-modal" hide-footer hide-header-close>
      <p>Are you sure you want to delete "{{bookDetails['book-title']}}"" book?</p>
        <b-button type="submit" variant="primary" size="sm" @click="deleteBookPermanently()">Ok</b-button>
        <b-button type="reset" variant="danger" size="sm" @click="displayDeleteModal = false">Cancel</b-button>
    </b-modal>

  </div>
</template>

<script>
  import BookForm from './BookForm.vue'

  // Moment.js
  var moment = require('moment')
  moment().format()

  export default {
    name: 'Book',
    props: {
      bookDetails: {
        type: Object,
        required: true
      },
      bookList: {
        type: Array,
        required: true
      }
    },
    components: {
      'book-form': BookForm
    },
    data () {
      return {
        isBookDeleted: false,
        bookCopy: {},
        displayEditModal: false,
        displayDeleteModal: false,
        errorMsg: {
          title: false,
          auther: false,
          date: false
        },
        strErrorMessage: 'Invalid input. Text must not be empty.',
        dateErrorMessage: 'Invalid date. Please come back from the future.'
      }
    },
    created () {
      this.setFormattedDate()
    },
    methods: {
      displayFormBookModal () {
        this.displayEditModal = true
      },
      setFormattedDate () {
        this.bookDetails.dateFormatted = moment.unix(this.bookDetails['published-date']).format('YYYY-MM-DD')
        // console.log('this.bookCopy: ', this.bookCopy)
      },
      // Delete modal
      displayDeleteBookModal () {
        this.displayDeleteModal = true
      },
      deleteBookPermanently () {
        /* Delete book for permanently */
        this.isBookDeleted = true
      },
    },
    filters: {
      capitalizeFirstLetter (value) {
        if (!value) {
          return ''
        }
        let str = value.split(' ')
        for (let i = 0; i < str.length; i++) {
          str[i] = str[i][0].toUpperCase() + str[i].slice(1).toLowerCase()
        }
        return str.join(' ')
      },
      removeNonEnglishLetters (value) {
        if (!value) {
          return ''
        }
        let str = value.split('')
        let i = str.length
        while (i--) {
          if (!(str[i].match(/[a-z]/i) || str[i] === ' ')) {
            str.splice(i, 1)
          }
        }
        return str.length > 0 ? str.join('') : '*No valid chars'
      }
    }
  }
</script>
  

